@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 245 82% 70%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --body-bg: 0 0% 100%;
    --body-bg-foreground: 0 0 12%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 245 82% 70%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --body-bg: 0 0 12%;
    --body-bg-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-primary;
  }
  html {
    @apply md:bg-identity !important;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hljs-keyword {
  @apply text-purple-700 dark:text-purple-300 font-semibold;
}

.hljs-string {
  @apply text-green-600 dark:text-green-300;
}


.hljs-title.function_,
.hljs-title.class_ {
  @apply text-red-300 dark:text-red-300 font-semibold;
}

.hljs-attr {
  @apply text-indigo-600 dark:text-indigo-400;
}

.hljs-comment {
  @apply text-gray-500 dark:text-gray-400 italic;
}

.language-javascript {
  @apply text-foreground dark:text-primary-foreground;
}
.hljs-name {
  @apply text-teal-200 dark:text-teal-200;
}
.notion-quote {
  @apply text-gray-500 dark:text-gray-400 italic mb-5 mt-5;
}
.notion-text-href {
  @apply text-primary underline;
}
.notion-heading_3 {
  @apply mb-5
}
.notion-code {
  @apply mt-5 mb-5 text-sm p-4 overflow-auto bg-gray-100 dark:bg-gray-900 rounded-md;;
 }

 .notion-text-bold {
  @apply font-bold;
}

.notion-text-code {
  @apply px-2 inline-block bg-gray-200 dark:bg-gray-700 rounded text-secondary dark:text-secondary-foreground;
}

.notion-heading_1 {
  @apply font-bold mb-4 text-foreground dark:text-primary-foreground mt-5;
}
.notion-numbered_list {
  @apply list-decimal pl-6 text-foreground dark:text-primary-foreground;
}

.notion-numbered_list_item {
  @apply mb-2;
}

.notion-color-default {
  @apply text-gray-800 dark:text-gray-300;
}
.notion-bulleted_list {
  @apply list-disc pl-6;
}

.notion-bulleted_list_item {
  @apply mb-2;
}

.notion-color-default {
  @apply text-gray-800 dark:text-gray-300;
}
.notion-image{
  @apply mt-5 mb-5;
}
.notion-color-yellow_background{
  @apply bg-yellow-100 dark:bg-yellow-800;
}
.notion-color-red_background{
  @apply bg-red-100 dark:bg-red-800;
}
.notion-color-blue_background{
  @apply bg-blue-100 dark:bg-blue-800;
}
.notion-color-green_background{
  @apply bg-green-100 dark:bg-green-800;
}
.notion-color-gray_background{
  @apply bg-gray-100 dark:bg-gray-800;
}
.notion-color_orange_background{
  @apply bg-orange-100 dark:bg-orange-800;
}
.notion-color_purple_background{
  @apply bg-purple-100 dark:bg-purple-800;
}
.notion-color-purple_background{
  @apply bg-purple-100 dark:bg-purple-800;
}
.notion-color-purple {
  @apply text-purple-700 dark:text-purple-300;
}
.notion-color-green {
  @apply text-green-700 dark:text-green-300;
}
.notion-color-blue {
  @apply text-blue-700 dark:text-blue-300;
}
.notion-color-red {
  @apply text-red-700 dark:text-red-300;
}

blockquote {
  @apply border-l-3 border-primary/30 pl-4 italic;
}